#!/bin/bash

## zinit 
bash -c "$(curl --fail --show-error --silent --location https://raw.githubusercontent.com/zdharma-continuum/zinit/HEAD/scripts/install.sh)"

## starship
curl -sS https://starship.rs/install.sh | sh -s -- -y

