on: pull_request

permissions:
  contents: read

jobs:
  main:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup birdots
        run: |
          sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply https://github.com/rnitame/birdots.git

