on:
  pull_request:
    branches:
      - main

jobs:
  main:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run tests
        env:
          CI: "true"
        run: |
          brew install bats-core

          bash -c "$(curl -fsLS get.chezmoi.io)" -- init rnitame/birdots --branch ${{github.head_ref}} --apply

          bats -r tests
